@import "../../utilities/variables";

#p_orders_area{
    h5{
        font-family: "Poppins", "Hind Siliguri", sans-serif;
        font-weight: 700;
        color: $fontColor;
        padding-bottom: 10px;
    }
}