@import "../utilities/mixins";
@import "../utilities/variables";

#C_A_services_area {
  padding: 40px 0px;
  font-family: "Roboto", sans-serif;

  .container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .services_title {
    text-align: center;
    font-weight: 800;
    color: #0c1b46;
    padding-bottom: 40px;
  }

  .left_side {
    h3 {
      color: $fontColor;
      font-weight: 700;
    }
    p {
    }
  }
}
